
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: #25262a;
	position: relative;
}

#footer-main {
	padding-top: $spacer * 6.25;
	padding-bottom: $spacer * 11;
}

#copyrights {
	color: #61605f;
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 1;
	z-index: 1;
}
